/* use vh, vw to let map load */

#map {
    height: 80vh;
    width: 70vw;
    flex-grow: 10;
}

#toggle {
    display: none;
}

@import url('https://fonts.googleapis.com/css?family=Nanum+Myeongjo|Patua+One');
body {
    display: flex;
    flex-direction: column;
    background: linear-gradient(to right, #00d2ff, #928dab);
}

.header {
    order: 1;
    font-size: 125%;
    text-align: center;
    font-family: 'Patua One', cursive;
    font-family: 'Nanum Myeongjo', sans-serif;
}

.app {
    order: 2;
    display: flex;
    flex-direction: row;
    background: #928dab;
}

.words {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
}

.list li {
    list-style-type: none;
    margin-top: 5vh;
    color: white;
}

@media screen and (max-width: 450px){
    #toggle {
        display: inline;
    }
}